/* Background Stripe
--------------------------------------------- */
@mixin stripe($color, $color-second, $position: 'right', $deg: 135deg) {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    content: '';
    background: repeating-linear-gradient(#{$deg}, #{$color}, #{$color} 10px, #{$color-second} 10px, #{$color-second} 20px);

    @if $position == 'right' {
      right: 0;
      width: calc((100vw - 1000px) / 2 + 245px);
    } @else {
      width: 100vw;
    }
  }
}

.cp-bg-stripe {
  &-movie-green {
    @include stripe('#d2eac6', '#edf5e0');
  }

  &-movie-green-white {
    @include stripe('#d1edd4', '#fff');
  }

  &-plan-basic {
    @include stripe('#f2f5e2', '#f8f9ee');
  }

  &-plan-premium {
    @include stripe('#e5f4f1', '#f2f8f4');
  }

  &-qa {
    @include stripe('#fef7ae', '#fffbd7', 'fill');
  }

  &-company {
    @include stripe('#f7e9ea', '#fbf4f4');
  }
}
