/* CTA
--------------------------------------------- */
.cp-cta {
  padding-block-start: 80px;
  padding-block-end: 60px;

  .cp-cta-text {
    @include font-rem(24);

    font-weight: bold;
    text-align: center;
  }

  .cp-cta-link {
    @include font-rem(24);

    max-width: 440px;
    margin-block-start: 30px;
    margin-inline: auto;
  }
}
