/* footer
--------------------------------------------- */
#footer {
  .footer {
    position: relative;
    padding-block-start: 140px;
    padding-block-end: 40px;
    margin-block-start: 100px;
    background-color: #f2f7e7;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 140px;
      margin: auto;
      content: '';
      background: url('/images/pages/top/footer-wave.png') bottom center no-repeat;
      translate: 0 -100%;
    }

    .cp-cta {
      .cp-cta-text {
        @include font-rem(18);
      }

      .cp-cta-wrap {
        flex-direction: column;
        row-gap: 35px;

        .cp-cta-contact {
          background-color: map.get($colors, 'white');
        }
      }
    }

    .footer-nav {
      padding-block: 10px;

      .footer-nav-list {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          @include font-rem(14);

          padding-inline: 1rem;
          line-height: 1.2;

          &:not(:first-child) {
            border-inline-start: 1px solid map.get($colors, 'black');
          }
        }
      }
    }

    .copyright {
      @include font-rem(12);

      text-align: center;
    }
  }
}
