/* header
--------------------------------------------- */
#header {
  padding-block: 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 4%;

    .logo {
      @include mq-down('md') {
        width: 26%;
      }

      img {
        vertical-align: bottom;
      }
    }

    .header-meta {
      display: flex;
      gap: 6%;
      align-items: center;
      justify-content: center;

      .header-link {
        width: 220px;

        @include mq-down('md') {
          width: 180px;
        }
      }

      .header-contact-md {
        width: 50px;
        height: 50px;
        line-height: 1;
        background-color: #d3e6b1;
        border-radius: 999px;

        a {
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
        }

        img {
          width: 20px;
          height: auto;
          vertical-align: bottom;
        }
      }

      .header-contact {
        width: 200px;
        line-height: 1.35;
        color: map.get($colors, 'green');
        text-align: center;

        .header-tel {
          @include font-rem(28);

          font-weight: bold;
        }

        .header-business {
          @include font-rem(12);
        }
      }
    }
  }
}
