/* header
--------------------------------------------- */
#header {
  padding-block: 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 4%;

    .header-meta {
      display: flex;
      gap: 6%;
      align-items: center;
      justify-content: center;

      .header-link {
        width: 220px;
      }

      .header-contact {
        width: 200px;
        line-height: 1.35;
        color: map.get($colors, 'green');
        text-align: center;

        .header-tel {
          @include font-rem(28);

          font-weight: bold;
        }

        .header-business {
          @include font-rem(12);
        }
      }
    }
  }
}
