// use map.get.
@use 'sass:map';

/* --------------------------------------------------------------
# base style
-------------------------------------------------------------- */
html {
  width: 100%;
  margin-bottom: 0 !important;
  overflow-x: hidden;
  font-size: 100%;
  background-color: map.get($colors, 'white');

  @include mq-down('md') {
    font-size: 87.5%;
  }
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Arial, 'Yu Gothic', Meiryo, sans-serif;
  line-height: 1.5;
  color: map.get($colors, 'black');

  @include font-rem(16);
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

a {
  color: map.get($colors, 'black');
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}
