// use map.get.
@use 'sass:map';

/* Import common.
--------------------------------------------- */
@import './../../common/common';

/* --------------------------------------------------------------
# main
-------------------------------------------------------------- */

/* Main Visual
--------------------------------------------- */
#mv {
  .mv {
    text-align: center;
    background: url('/images/pages/top/mv-bg.png') top center no-repeat;
  }
}

/* Movie
--------------------------------------------- */
#movie {
  .movie {
    padding-block: 100px;
    background-color: #edf5e0;

    .iframe {
      position: relative;
      z-index: 2;
      max-width: 690px;
      margin-block-start: 30px;
      margin-inline: auto;

      iframe {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }

  .charm {
    padding-block: 140px;

    .charm-caption {
      @include font-rem(38);

      margin-block-end: 1.3em;
      font-weight: bold;
    }

    .charm-text {
      @include font-rem(18);

      flex: 1;
      line-height: 2.2;
    }

    .charm-text-wrap {
      display: flex;
    }

    .charm-iamge {
      width: 532px;
      margin-block-start: 70px;
      text-align: right;
    }
  }
}

/* worries
--------------------------------------------- */
#worries {
  .worries-wrap {
    position: relative;
    padding-block-start: 60px;
    padding-block-end: 140px;
    text-align: center;
    background-color: #f2f7e7;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 126px;
      margin: auto;
      content: '';
      background: url('/images/pages/top/worries-wave.png') bottom center no-repeat;
      translate: 0 -100%;
    }

    .worries-caption {
      position: relative;
      display: inline-block;

      &::after {
        position: absolute;
        top: 0;
        right: -180px;
        bottom: 0;
        display: block;
        width: 169px;
        height: 169px;
        margin: auto;
        content: '';
        background: url('/images/pages/top/worries-caption-image.png') center no-repeat;
      }
    }

    .worries-content {
      margin-block-start: 40px;
    }
  }
}

/* support
--------------------------------------------- */
#support {
  .support-wrap {
    position: relative;
    padding-block-start: 50px;
    padding-block-end: 200px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 171px;
      margin: auto;
      content: '';
      background: url('/images/pages/top/support-wave.png') bottom center no-repeat;
      translate: 0 -100%;
    }

    .support-heading-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .support-heading {
        @include font-rem(26);

        font-weight: bold;
        line-height: 1.2;

        .strong {
          @include font-rem(38);

          color: #03b8df;

          .num {
            @include font-rem(80);
          }

          .percent {
            @include font-rem(50);
          }
        }
      }
    }

    .support-text-wrap {
      display: flex;
      column-gap: 75px;
      align-items: center;
      justify-content: space-between;
      margin-block-start: 75px;

      .support-text-image {
        width: 285px;
      }

      .support-text-inner {
        flex: 1;
      }

      .support-text {
        @include font-rem(21);

        line-height: 1.9;
      }
    }

    .support-note {
      text-align: right;

      @include font-rem(14);
    }
  }
}

/* voice
--------------------------------------------- */
#voice {
  .voice-wrap {
    position: relative;
    padding-block-start: 50px;
    padding-block-end: 200px;
    background-color: #fff7ec;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 139px;
      margin: auto;
      content: '';
      background: url('/images/pages/top/voice-wave.png') bottom center no-repeat;
      translate: 0 -100%;
    }

    .voice-content {
      margin-block-start: 40px;
    }
  }
}

/* generation
--------------------------------------------- */
#generation {
  .generation-wrap {
    position: relative;
    padding-block-start: 100px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 183px;
      margin: auto;
      content: '';
      background: url('/images/pages/top/generation-wave.png') bottom center no-repeat;
      translate: 0 -100%;
    }

    .generation-caption {
      @include font-rem(38);

      position: relative;
      padding-block-end: 30px;
      padding-inline-end: 40px;
      font-weight: bold;
      line-height: 1.3;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 73px;
        height: 79px;
        content: '';
        background: url('/images/pages/top/generation-q.png') center no-repeat;
      }
    }

    .generation-card {
      $offset: 40px;

      position: relative;
      width: 57%;
      padding-block-end: 60px;
      background-color: #fff7ec;
      border-radius: 20px;
      box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 20%);

      &.left {
        translate: $offset 0;

        .generation-card-image {
          position: absolute;
          bottom: 0;
          left: 0;
          translate: -#{$offset} 77.5%;
        }
      }

      &.right {
        translate: -#{$offset} 0;

        .generation-card-image {
          position: absolute;
          right: 0;
          bottom: 0;
          translate: $offset 77.5%;
        }
      }

      .generation-card-caption {
        @include font-rem(24);

        display: inline-block;
        padding-block: 0.75em;
        padding-inline: 8.7%;
        font-weight: bold;
        color: map.get($colors, 'white');
        background-color: map.get($colors, 'main');
        border-radius: 20px 0;
      }

      .generation-card-text {
        padding-block-start: 30px;
        padding-inline: 8.7%;
        line-height: 1.875;
      }
    }

    .generation-inner-heading {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }

    .generation-inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block-end: 200px;
      margin-block-start: 75px;
    }
  }
}

/* price
--------------------------------------------- */
#price {
  padding-block: 90px;
  background-color: #fffcf7;

  .price-caption {
    margin-block-end: 70px;
  }

  .price-wrap {
    &:not(:first-of-type) {
      margin-block-start: 90px;
    }

    .price-name {
      @include font-rem(26);

      max-width: 290px;
      padding-block: 10px;
      margin-inline: auto;
      font-weight: bold;
      text-align: center;
      background-color: map.get($colors, 'white');
      border-radius: 999px;
      box-shadow: 0 2px 0 0 rgb(0 0 0 / 20%);

      &.red {
        color: map.get($colors, 'white');
        background-color: map.get($colors, 'red');
      }
    }

    .price-content {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      margin-block-start: 45px;

      .price-content-separator {
        @include font-rem(26);

        display: inline-block;
        width: 40px;
        text-align: center;
      }
    }
  }

  .price-note {
    max-width: 800px;
    margin-block-start: 60px;
    margin-inline: auto;
    line-height: 1.75;
  }
}

/* plan
--------------------------------------------- */
#plan {
  .plan {
    padding-block-end: 140px;
    background-color: #fffcf7;

    .plan-heading {
      padding-block-end: 40px;

      &.basic {
        background: url('/images/pages/top/plan-basic-image.png') right bottom no-repeat;
      }

      &.premium {
        background: url('/images/pages/top/plan-premium-image.png') right bottom no-repeat;
      }

      .plan-caption {
        @include font-rem(26);

        display: inline-block;
        padding-block: 20px;
        padding-inline-start: calc(40px + ((100vw - 1000px) / 2));
        padding-inline-end: 50px;
        font-weight: bold;
        border-radius: 0 0 28px;
        translate: calc((100vw - 1000px) / 2 * -1);
      }

      .plan-heading-text {
        @include font-rem(40);

        margin-block-start: 1.25em;
        margin-block-end: 1em;
        font-weight: bold;
        line-height: 1.55;
      }

      .plan-traffic {
        @include font-rem(21);

        display: inline-block;
        padding-block: 5px;
        padding-inline: 35px;
        font-weight: bold;
        border-radius: 5px;

        .strong {
          .num {
            @include font-rem(32);
          }
        }
      }

      .plan-price {
        margin-block-start: 30px;
        font-weight: bold;

        .text {
          @include font-rem(20);
        }

        .yen {
          @include font-rem(32);
        }

        .price {
          @include font-rem(40);
        }
      }
    }

    .plan-description {
      @include font-rem(18);

      font-weight: bold;
      line-height: 1.88;
    }

    .plan-note {
      @include font-rem(12);

      font-weight: bold;
    }

    &.green {
      .plan-heading {
        .plan-caption {
          color: map.get($colors, 'white');
          background-color: #3b7e4b;
        }

        .plan-heading-text {
          color: #2a8339;
        }

        .plan-traffic {
          color: map.get($colors, 'white');
          background-color: #69a772;
        }
      }
    }

    &.blue {
      .plan-heading {
        .plan-caption {
          color: map.get($colors, 'white');
          background-color: #06a6b2;
        }

        .plan-heading-text {
          color: #06a6b2;
        }

        .plan-traffic {
          color: map.get($colors, 'white');
          background-color: #50c0c7;
        }
      }
    }
  }

  .plan-function {
    margin-block-start: 70px;

    .plan-function-wrap {
      display: flex;
      flex-wrap: wrap;
      row-gap: 60px;
      column-gap: 7%;
      margin-block-start: 40px;

      .plan-function-card {
        width: 46.5%;

        .plan-function-card-name {
          @include font-rem(24);

          display: inline-block;
          padding-block: 12px;
          padding-inline: 70px;
          font-weight: bold;
          color: map.get($colors, 'white');
          background-color: map.get($colors, 'green');
          border-radius: 10px 10px 0 0;
        }

        .plan-function-card-wrap {
          overflow: hidden;
          background-color: map.get($colors, 'white');
          border-radius: 0 25px 25px;

          .plan-function-card-content {
            padding-block: 30px;
            padding-inline: 40px;

            .plan-function-card-content-caption {
              @include font-rem(21);

              font-weight: bold;
              color: map.get($colors, 'green');
            }

            .plan-function-card-content-text {
              @include font-rem(14);

              margin-block-start: 0.75em;
              line-height: 1.725;
            }
          }
        }
      }
    }
  }

  .plan-cta {
    padding-block-start: 140px;
    padding-block-end: 110px;

    .plan-cta-text {
      @include font-rem(30);

      font-weight: bold;
      text-align: center;

      .red {
        color: map.get($colors, 'red');
      }
    }

    .plan-cta-content {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      margin-block-start: 45px;

      .plan-cta-content-separator {
        @include font-rem(26);

        display: inline-block;
        text-align: center;
      }
    }
  }
}

/* process
--------------------------------------------- */
#process {
  .process {
    padding-block: 90px;
    background-color: #e7f3e4;

    .process-text {
      @include font-rem(18);

      margin-block-start: 40px;
      line-height: 1.7;
    }

    .process-flow {
      margin-block-start: 100px;
      counter-reset: item;

      li {
        $offset: 40px;

        position: relative;
        margin-inline-start: $offset;
        background-color: map.get($colors, 'white');
        border-radius: 50px;

        &:not(:first-child) {
          margin-block-start: 100px;
        }

        &::before {
          @include font-rem(48);

          position: absolute;
          top: -50px;
          left: -#{$offset};
          display: flex;
          align-items: center;
          justify-content: center;
          width: 92px;
          height: 92px;
          font-weight: bold;
          line-height: 1;
          color: map.get($colors, 'white');
          content: counter(item);
          counter-increment: item;
          background-color: map.get($colors, 'main');
          border-radius: 999px;
        }

        .process-flow-content {
          padding: 40px;
        }
      }

      .process-arrow {
        position: relative;

        &::after {
          position: absolute;
          right: 0;
          bottom: -110px;
          left: 0;
          width: 0;
          height: 0;
          margin: auto;
          content: '';
          border-color: map.get($colors, 'gray') transparent transparent;
          border-style: solid;
          border-width: 28px 30px 0;
        }
      }

      .process-flow-content-case {
        display: flex;
        align-items: stretch;
        justify-content: center;

        .process-flow-content-case-item {
          position: relative;
          flex: 1;
          text-align: center;

          &.process-flow-content-case-user {
            color: map.get($colors, 'blue');

            &.process-arrow {
              &::after {
                border-color: map.get($colors, 'blue') transparent transparent;
              }
            }
          }

          &.process-flow-content-case-buyer {
            color: map.get($colors, 'pink');

            &.process-arrow {
              &::after {
                border-color: map.get($colors, 'pink') transparent transparent;
              }
            }
          }

          &:not(:first-of-type) {
            &::before {
              position: absolute;
              top: 40px;
              bottom: 40px;
              left: -1px;
              display: block;
              width: 3px;
              margin: auto;
              content: '';
              background-image: linear-gradient(to bottom, #000 3px, transparent 3px);
              background-repeat: repeat-y;
              background-position: left bottom;
              background-size: 3px 8px;
            }
          }

          .process-flow-content-case-text {
            @include font-rem(18);

            font-weight: bold;
          }

          .process-flow-content-case-caption {
            @include font-rem(24);

            display: inline-flex;
            align-items: center;
            min-height: 2em * 1.5;
            font-weight: bold;
          }

          .process-flow-content-case-description {
            @include font-rem(18);

            display: inline-flex;
            align-items: center;
            min-height: 2em * 1.6;
            color: map.get($colors, 'black');
          }
        }
      }

      .process-flow-entry {
        .process-flow-content-wrap {
          display: flex;
          column-gap: 60px;
          align-items: center;
          justify-content: center;
        }

        .process-flow-entry-inner {
          width: 100%;
          max-width: 260px;

          .process-flow-entry-text {
            @include font-rem(24);

            margin-block-end: 30px;
            font-weight: bold;
            text-align: center;
          }

          .cp-link-button {
            @include font-rem(21);

            .cp-link-button-wrap {
              background-color: #295f35;
            }
          }
        }
      }

      .process-flow-signup {
        position: relative;
        z-index: 1;

        .process-flow-signup-caption {
          @include font-rem(24);

          font-weight: bold;
          text-align: center;
        }

        .process-flow-signup-note {
          @include font-rem(14);

          margin-block-end: 30px;
          text-align: center;
        }

        .process-flow-signup-content {
          margin-block-end: -160px;
        }
      }
    }

    .process-message {
      display: flex;
      column-gap: 25px;
      align-items: center;
      justify-content: center;
      margin-block-start: 100px;

      .process-message-balloon {
        @include font-rem(21);

        position: relative;
        padding-block: 30px;
        padding-inline: 40px;
        margin-block-end: 30px;
        color: map.get($colors, 'white');
        background-color: #c5a36e;
        border-radius: 20px;

        &::before {
          position: absolute;
          top: -45px;
          left: -45px;
          display: block;
          width: 49px;
          height: 60px;
          content: '';
          background-image: url('/images/pages/top/process-message-balloon-notice.png');
        }

        &::after {
          position: absolute;
          top: 0;
          right: -30px;
          bottom: 0;
          width: 0;
          height: 0;
          margin: auto;
          content: '';
          border-style: solid;
          border-top: 17px solid transparent;
          border-right: 0;
          border-bottom: 17px solid transparent;
          border-left: 30px solid #c5a36e;
        }
      }
    }
  }
}

/* app
--------------------------------------------- */
#app {
  .app {
    padding-block-start: 100px;
    padding-block-end: 120px;
    text-align: center;

    .app-image {
      display: flex;
      gap: 80px;
      align-items: center;
      justify-content: center;
      margin-block: 50px;
    }

    .app-text {
      @include font-rem(20);

      max-width: 800px;
      margin-inline: auto;
      line-height: 2.2;
      text-align: left;
    }
  }
}

/* sponsor
--------------------------------------------- */
#sponsor {
  .sponsor {
    padding-block: 100px;
    background-color: #f9f0e7;

    .sponsor-wrap {
      display: flex;
      column-gap: 5%;
      margin-block-start: 100px;

      .sponsor-item {
        width: 30%;

        .sponsor-name {
          @include font-rem(21);

          margin-block-end: 10px;
          text-align: center;
        }

        .sponsor-logo {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          background-color: map.get($colors, 'white');
          border-radius: 10px;
        }
      }
    }
  }
}

/* device
--------------------------------------------- */
#device {
  .device {
    padding-block: 100px;
    background-color: #f8f6f4;

    .device-wrap {
      padding-block: 80px;
      padding-inline: 100px;
      background-color: map.get($colors, 'white');
      border-radius: 30px;
    }

    .device-bundle {
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      align-items: stretch;
      justify-content: space-around;
      margin-block-start: 60px;

      .col-2 {
        width: 50%;
      }

      .col-3 {
        width: 33%;
      }

      .device-bundle-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .device-bundle-item-name {
          gap: 30px;
          text-align: center;
        }
      }
    }

    .device-image-wrap {
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin-block-start: 150px;

      .device-image {
        position: absolute;
        top: -60px;
        left: 0;
        z-index: 2;
      }

      .device-image-text {
        @include font-rem(21);

        padding-block: 40px;
        padding-inline: 120px;
        font-weight: bold;
        line-height: 1.9;
        background-color: #cceff1;
        border-radius: 20px;
      }
    }

    .device-spec {
      margin-block-start: 90px;
      text-align: center;

      .device-spec-controller {
        @include font-rem(21);

        position: relative;
        width: 100%;
        max-width: 435px;
        padding-block: 15px;
        margin-inline: auto;
        font-weight: bold;
        text-align: center;
        background-color: #d3e6b1;
        border-radius: 999px;

        &::before,
        &::after {
          position: absolute;
          top: 0;
          right: 50px;
          bottom: 0;
          display: block;
          width: 18px;
          height: 2px;
          margin: auto;
          content: '';
          background-color: map.get($colors, 'black');
          transition: all 0.2s;
        }

        &::after {
          rotate: 90deg;
        }

        &.open {
          &::after {
            rotate: 0deg;
          }
        }
      }

      .device-spec-content {
        padding-block-start: 40px;
      }

      .device-spec-table {
        margin-inline: auto;
        overflow: hidden;
        border-spacing: 0;
        border-collapse: separate;
        border: 2px solid #7c7c7c;
        border-radius: 8px;

        .device-spec-table-heading {
          @include font-rem(18);

          font-weight: bold;

          .device-spec-table-heading-th {
            width: 34%;
            padding-inline: 0;
            text-align: center;
            background-color: #d3e6b1;
          }

          .device-spec-table-heading-td {
            width: 66%;
            padding-inline: 0;
            color: map.get($colors, 'white');
            text-align: center;
            background-color: #7c7c7c;
            border-left: 1px solid #7c7c7c;
          }
        }

        tr {
          th {
            background-color: #f6faef;
            border-right: 1px solid #7c7c7c;
          }

          td {
            border-left: 1px solid #7c7c7c;
          }

          th,
          td {
            padding-block: 5px;
            padding-inline: 18px 10px;
            text-align: left;
            vertical-align: middle;
          }

          &:not(:first-of-type) {
            th,
            td {
              border-top: 1px solid #7c7c7c;
            }
          }
        }
      }
    }
  }
}

/* Q&A
--------------------------------------------- */
#qa {
  .qa {
    padding-block: 100px;

    .qa-wrap {
      padding-block-start: 80px;

      .qa-item {
        &:not(:first-child) {
          margin-block-start: 35px;
        }

        .qa-controller {
          @include font-rem(21);

          position: relative;
          z-index: 1;
          width: 100%;
          padding-block: 16px;
          padding-inline-start: 73px;
          font-weight: bold;
          color: map.get($colors, 'green');
          text-align: left;
          background-color: #e9f2eb;
          border-radius: 8px;

          &::before,
          &::after {
            position: absolute;
            top: 0;
            right: 18px;
            bottom: 0;
            display: block;
            width: 30px;
            height: 2px;
            margin: auto;
            content: '';
            background-color: map.get($colors, 'green');
            transition: all 0.2s;
          }

          &::after {
            rotate: 90deg;
          }

          &.open {
            &::after {
              rotate: 0deg;
            }
          }

          .qa-q {
            position: absolute;
            top: -12px;
            left: -5px;
          }
        }

        .qa-content {
          @include font-rem(18);

          position: relative;
          padding-block: 16px;
          padding-inline-start: 73px;
          margin-block-start: -8px;
          color: map.get($colors, 'red');
          background-color: map.get($colors, 'white');
          border-radius: 0 0 8px 8px;

          &::before {
            @include font-rem(30);

            position: absolute;
            top: 14px;
            left: 25px;
            font-weight: bold;
            line-height: 1;
            content: 'A';
          }
        }
      }
    }
  }
}

/* company
--------------------------------------------- */
#company {
  .company {
    padding-block: 100px;

    .company-caption-text {
      @include font-rem(20);

      margin-block-start: 30px;
      font-weight: bold;
      text-align: center;
    }

    .company-table {
      max-width: 800px;
      margin-block-start: 60px;
      margin-inline: auto;

      tr {
        th,
        td {
          padding-block: 20px;
          text-align: left;
        }

        th {
          width: 14%;
          font-weight: bold;
          color: map.get($colors, 'red');
          border-bottom: 2px solid map.get($colors, 'red');
        }

        td {
          padding-inline-start: 50px;
          border-bottom: 1px solid #d69396;
        }
      }
    }
  }
}

/* dream
--------------------------------------------- */
#dream {
  .dream {
    position: relative;
    padding-block: 100px;

    .dream-caption {
      @include font-rem(36);

      position: absolute;
      top: 200px + 100px;
      left: 0;
      font-weight: bold;
    }
  }
}
