// use map.get.
@use 'sass:map';

/* Import common.
--------------------------------------------- */
@import './../../common/common';

/* --------------------------------------------------------------
# main
-------------------------------------------------------------- */

/* Main Visual
--------------------------------------------- */
#mv {
  .mv {
    text-align: center;
  }

  .mv-cta {
    padding-block-start: 80px;
    padding-block-end: 60px;

    .mv-cta-text {
      @include font-rem(24);

      font-weight: bold;
      text-align: center;
    }

    .mv-cta-link {
      @include font-rem(24);

      max-width: 440px;
      margin-block-start: 30px;
      margin-inline: auto;
    }
  }
}

/* Movie
--------------------------------------------- */
#movie {
  .movie {
    max-height: 453px;
    background-color: #edf5e0;

    .iframe {
      position: relative;
      z-index: 2;
      max-width: 690px;
      margin-block-start: 30px;
      margin-inline: auto;

      iframe {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }

  .charm {
    padding-block-start: 360px;

    .charm-caption {
      @include font-rem(38);

      margin-block-end: 1.3em;
      font-weight: bold;
    }

    .charm-text {
      @include font-rem(18);

      line-height: 2.2;
    }

    .charm-iamge {
      margin-block-start: 70px;
      text-align: right;
    }
  }
}

/* worries
--------------------------------------------- */
#worries {
  .worries-wrap {
    position: relative;
    padding-block-start: 60px;
    padding-block-end: 30px;
    background-color: #f2f7e7;
  }
}
